<h1>Fruit Basket</h1>
<span class="data">Raw data: <%= @fruits %></span>
<br />
<%= link_to "Order by Name - #{@order}", basket_case_order_by_fruit_path(order: @order), class: "button order-by-name" %>
<%= link_to "Order by Amount - #{@order}", basket_case_order_by_amount_path(order: @order), class: "button order-by-amount" %>

<div class="container">
  <ul>
    <% @list_items.each do |fruit, amount| %>
      <li><%= "#{fruit}: #{amount}" %></li>
    <% end %>
  </ul>
</div>